.members {
	margin: 2rem 0;
}

.users {
	h1 {
		font-size: 28px;
		font-weight: 500;
		line-height: 42px;
		letter-spacing: 0em;
		color: var(--white);
	}
  &__list{
    margin: 1rem 0;
    overflow: auto;
    &_wrapper{
      width: 1180px;
      display: flex;
      align-items: center;
      gap: 1rem;
      justify-content: space-between;
    }
  }
}
.user-card {
	width: 220px;
	height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 0.5rem;
	position: relative;
  border-radius: 30px;
  overflow: hidden;
  &:hover{
    >img{
      transform: scale(1.1);
    }
  }
	> img {
		height: 100%;
		object-fit: cover;
		position: absolute;
    z-index: -1;
		left: 0;
		top: 0;
    transition: all .3s ease-in;
	}
	> h4 {
		display: inline-block;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			width: 10px;
      z-index: 3;
			height: 10px;
			background-color: #33e159;
			top: -10px;
			border-radius: 50%;
			right: -1rem;
		}
	}
	> p {
		img {
			width: 16px;
		}
	}
}
